* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}